*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
}
button{
    font-size: 30px;
    background-color: red;
    border-radius: 20px;
    border:none;
}