*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:#17D4FE;
    font-size:150px;
    margin-top:250px;
    margin-left:350px;
    font-family: Orbitron;
}
